.nav{
    display: flex;
    height: fit-content;

}

.nav p {
    padding: 2%;
}

.container-body{
    display: inline-block;
}
select{
    border: none;
    height: auto;
    font-size: larger;
    padding: 1%;
    font-weight: bold;
}